/* 
03045E 023E8A 0077B6
0096C7 00B4D8 48CAE4
90E0EF ADE8F4 CAF0F8
*/

/*
7A1B39 69263B 8F2144 FA0F59
*/

.Card {
    background-color: #7A1B39;
    border: 2px solid #69263B;
    border-radius: 5px;
    margin: 12px 8px;
    overflow: hidden;  
    min-width: 10em;
    display: inline-block;
    box-shadow: 6px 6px 4px #03051bc0;
}

.Card:hover {
    background-color: #9c2c4f;
    cursor: pointer;
}

img {
    padding: 2px;
    margin: auto;
    display: block;
}

.Card .Nome {
    background-color: #580c25;
    padding-top: 2px;
    font-family: 'Dongle', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #dad5d5;
}