/* 
03045E 023E8A 0077B6
0096C7 00B4D8 48CAE4
90E0EF ADE8F4 CAF0F8
*/

.Card {
    background-color: #003554;
    border: 2px solid #0582ca;
    border-radius: 5px;
    margin: 12px 8px;
    overflow: hidden;  
    min-width: 16em;
    display: inline-block;
    box-shadow: 6px 6px 4px #03051bc0;
}

.Card:hover {
    background-color: #006494DD;
    width: 12em;
    height: 12em;
    transition: width 2s, height 8s, transform 2s;
    cursor: pointer;
}

img {
    padding: 2px;
    margin: auto;
    display: block;
}

.Card .Nome {
    background-color: #0582ca;
    padding-top: 6px;
    font-family: 'Dongle', sans-serif;
    font-size: 34px;
    text-align: center;
}