body {
    background-image: url("./images/background/vl.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ExibicaoTime {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
