/* 
03045E 023E8A 0077B6
0096C7 00B4D8 48CAE4
90E0EF ADE8F4 CAF0F8
*/

body {
    margin: 1%;
    background-image: url("./images/nfl-2.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.times {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em;
}