/* 
03045E 023E8A 0077B6
0096C7 00B4D8 48CAE4
90E0EF ADE8F4 CAF0F8
*/

body {
    background-color: #0077B6;
    margin: 1%;
}

.times {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em;
}